<template id="todo-item-template">
  <style>
  	button, [role="button"], .btn {
  		display: inline-block;
  		cursor: pointer;
  		padding: 0.3em;
  		background: var(--button-background);
  		color: var(--button-color);
  		border: var(--button-border);
  		border-radius: var(--button-border-radius);
  	}

  	.btn-danger {
  		background: var(--button-danger-background);
  	}

    .current-color {
      fill: currentColor;
    }

    .icon, .icon * {
    	color: inherit;
    	max-width: 100%;
    	max-height: 100%;
    	width: 1em;
    	height: 1em;
    	vertical-align: middle;
    }

    .item-done {
    	color: #878787;
    	text-decoration: line-through;
    }
  </style>
  <div class="todo-item">
  	<button type="button" data-action="done">
      <svg-icon icon="check"></svg-icon>
    </button>
    <slot name="label">No Label</slot>
    <span>
      <svg-icon icon="calendar"></svg-icon>
      <slot name="due"></slot>
      <button type="button" data-action="remove" class="btn-danger">
        <svg-icon icon="x"></svg-icon>
      </button>
      <details>
        <summary>
          <svg-icon icon="view-more"></svg-icon>
        </summary>
        <slot name="description">No Description</slot>
      </details>
    </span>
  </div>
</template>
