<template id="todo-item-template">
  <style>
    .current-color {
      fill: currentColor;
    }

    .icon, .icon * {
    	color: inherit;
    	max-width: 100%;
    	max-height: 100%;
    	width: 1em;
    	height: 1em;
    	vertical-align: middle;
    }
  </style>
  <div class="todo-item">
  	<button type="button" data-action="done">
      <svg class="current-color icon">
        <use xlink:href="img/icons.svg#check" />
      </svg>
    </button>
    <span class="item-label"><slot name="label">No Label</slot></span>
    <span>
      <svg class="current-color icon">
        <use xlink:href="img/icons.svg#calendar" />
      </svg>
      <slot name="due">No due date</slot>
      <details>
        <summary>
          <svg class="current-color icon">
            <use xlink:href="img/icons.svg#view-more" />
          </svg>
        </summary>
      </details>
      <div><slot name="description">No Description</slot></div>
    </span>
    <span>
      <button type="button" data-action="remove">
        <svg class="current-color icon">
          <use xlink:href="img/icons.svg#x" />
        </svg>
      </button>
    </span>
  </div>
</template>
